# Зависимости
node_modules
npm-debug.log

# Файлы окружения
.env
.env.*

# Папки сборки
dist
dist-ssr

# Git
.git
.gitignore

# Файлы редакторов
.vscode
.idea
.DS_Store

# Логи
logs
*.log

# Временные файлы
*.local 